# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
ENV/
.venv/

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Test & coverage
.coverage
htmlcov/
.tox/
.nox/

# Logs
*.log

# Others
*.swp
*.bak
